@if (open()) {
  <div class="confirm-backdrop">
    <div
      class="confirm-box"
      role="dialog"
      aria-modal="true"
      aria-describedby="confirm-title"
      (click)="$event.stopPropagation()"
      cdkTrapFocus
      cdkTrapFocusAutoCapture
    >
      <h2 id="confirm-title" class="confirm-text">
        @if (highlight()) {
          <span class="confirm-highlight">
            {{ highlight() }}
          </span>
        }
        {{ highlightObject() }}?

        @if (message()) {
          {{ message() }}
        }
      </h2>

      <footer class="confirm-actions">
        <button class="button button--primary confirm-btn" type="button" (click)="onConfirm()">
          {{ confirmText() }}
        </button>

        <button class="button button--secondary cancel-btn" type="button" (click)="onCancel()">
          {{ cancelText() }}
        </button>
      </footer>
    </div>
  </div>
}
