<dialog open>
  <div class="dialog-content">
    <header>
      <div class="header-content">
        <div class="title">
          <p>Checkliste.jpeg / 457KB</p>
        </div>

        <div class="zoom desktop-only">
          <button class="zoom-out">
            <img src="assets/img/icons/add-task/zoom-out.svg" alt="">
          </button>
          <button class="zoom-in">
            <img src="assets/img/icons/add-task/zoom-in.svg" alt="">
          </button>
        </div>
  
        <div class="header-actions">
          <button class="download-btn">
            <img src="assets/img/icons/add-task/download-white.svg" alt="">
          </button>
    
          <button class="close-btn">
            <img src="assets/img/icons/add-task/close-white.svg" alt="">
          </button>
        </div>
      </div>
    </header>

    <section class="image-section">
      <img class="attachment-img" src="assets/img/photo.jpg" alt="">

      <button class="left desktop-only">
        <img class="desktop-only" src="assets/img/icons/add-task/arrow-left.svg" alt="">
      </button>
      <button class="right desktop-only">
        <img class="desktop-only" src="assets/img/icons/add-task/arrow-right.svg" alt="">
      </button>
    </section>
    
    <footer>
      <div class="footer-content mobile-only">
        <button class="left">
          <img src="assets/img/icons/add-task/arrow-left.svg" alt="">
        </button>
  
        <div class="zoom">
          <button class="zoom-out">
            <img src="assets/img/icons/add-task/zoom-out.svg" alt="">
          </button>
          <button class="zoom-in">
            <img src="assets/img/icons/add-task/zoom-in.svg" alt="">
          </button>
        </div>
  
        <button class="right">
          <img src="assets/img/icons/add-task/arrow-right.svg" alt="">
        </button>
      </div>
    </footer>
  </div>
</dialog>