<section aria-labelledby="attachments-title">
  <p id="attachments-title" class="title">Attachments</p>

  <div class="description">
    <p id="attachment-description">Allowed file types are JPEG and PNG</p>

    @if (attachments().length > 0) {
      <button type="button" (click)="deleteAllAttachments()">
        <app-icon name="delete" [size]="20" aria-hidden="true"></app-icon>
        Delete all
      </button>
    }
  </div>

  <button 
    type="button"
    class="drag-area" 
    [class.drag-area--active]="isDragging"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="openFilePicker()"
    aria-describedby="attachment-description"
  >
    <p>Drag file or browse</p>
    <app-icon class="add-attachment-icon" name="add" aria-hidden="true"></app-icon>
  </button>

  <input
    #filePicker
    class="filePicker"
    type="file"
    accept="image/png, image/jpeg"
    (change)="onFileSelect($event)"
    multiple
    hidden
  />

  <div class="gallery" #gallery>

    @for (attachment of attachments(); track attachment.fileName) {

      <figure class="attachment">

        <button
          class="attachment-btn"
          type="button"
          (click)="openImageViewer($index)"
          aria-label="Open attachment {{ attachment.fileName }}"
        >
          <div class="image-wrapper">
            <img
              class="attachment-img"
              [src]="attachment.base64"
              alt=""
            >
          </div>

          <figcaption>{{ attachment.fileName }}</figcaption>
        </button>

        <button
          class="delete-btn"
          type="button"
          (click)="deleteSingleAttachment($event, attachment)"
          aria-label="Delete {{ attachment.fileName }}"
        >
          <app-icon name="delete" aria-hidden="true"></app-icon>
        </button>

      </figure>

    }
  </div>

</section>

@if (showViewer) {
  <app-image-viewer
    [attachments]="attachments()"
    [startIndex]="viewerStartIndex"
    (close)="closeImageViewer()"
    (viewerStateChange)="viewerStateChange.emit($event)"
  >
  </app-image-viewer>
}
