<section aria-labelledby="attachments-title">
  <p id="attachments-title" class="title">Attachments</p>

  <div class="description">
    <p id="attachment-description">Allowed file types are JPEG and PNG</p>
    @if (attachments.length > 0) {
      <button type="button" (click)="deleteAllAttachments()">
        <img class="icon icon--default" src="assets/img/icons/buttons/delete.svg" alt="" aria-hidden="true">
        <img class="icon icon--hover" src="assets/img/icons/buttons/delete-hover.svg" alt="" aria-hidden="true">
        Delete all
      </button>
    }
  </div>

  <button 
    type="button"
    class="drag-area" 
    [class.drag-area--active]="isDragging"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="openFilePicker()"
    aria-describedby="attachment-description"
  >
    <p>Drag file or browse</p>
    <img src="assets/img/icons/add-task/add-attachment.svg" alt="" aria-hidden="true">
</button>

  <input
    #filePicker
    class="filePicker"
    type="file"
    accept="image/png, image/jpeg"
    (change)="onFileSelect($event)"
    multiple
    hidden
  />
    
  <div class="gallery" #gallery>
    @for (attachment of attachments; track attachment.fileName) {
      <figure class="attachment" role="button" tabindex="0" (click)="openImageViewer($index)" (keydown.enter)="openImageViewer($index)" (keydown.space)="openImageViewer($index)" aria-label="Open attachment {{ attachment.fileName }}">
        <div class="image-wrapper">
          <img class="attachment-img" [src]="attachment.base64" [alt]="attachment.fileName">
          <button
            class="delete-btn"
            type="button"
            (click)="deleteSingleAttachment($event, attachment)"
            aria-label="Delete {{ attachment.fileName }}"
          >
            <img class="delete-icon" src="assets/img/icons/add-task/delete-white.svg" alt="" aria-hidden="true">
          </button>
        </div>
        <figcaption>{{ attachment.fileName }}</figcaption>
      </figure>
    }
  </div>

</section>

@if (showViewer) {
  <app-image-viewer
    [attachments]="attachments"
    [startIndex]="viewerStartIndex"
    (close)="closeImageViewer()"
    (viewerStateChange)="viewerStateChange.emit($event)"
  >
  </app-image-viewer>
}
