@use '../../../../styles/index.scss' as styles;

.task-dialog-overlay {
  position: fixed;
  inset: 0;
  @include styles.setFlex();
  background: rgba(0, 0, 0, 0.3);
  z-index: 5000;
}

.dialog-content {
  @include styles.setFlex($d: column, $ai: stretch, $jc: flex-start, $gap: 8px);
  width: 93dvw;
  max-width: 390px;
  max-height: 90dvh;
  background-color: white;
  border-radius: 24px;
  padding: 25px 20px 8px;
  word-break: break-word;
  opacity: 1;
  z-index: 5001;

  @include styles.down-xs {
    width: 88dvw;
  }

  @include styles.up-xxl {
    width: 505px;
    max-width: 550px;
    padding: 40px 36px 8px;
    gap: 21px;
    font-size: 20px;
  }
}

.header {
  @include styles.setFlex($jc: space-between);

  .category {
    @include styles.setFlex();
    width: fit-content;
    padding: 3px 16px;
    border-radius: 8px;
    color: white;

    @include styles.up-xxl {
      padding: 4px 30px;
      font-size: 20px;
    }
  }

  .technical-task {
    background-color: styles.$mint-accent;
  }

  .user-story {
    background-color: styles.$blue-primary;
  }

  .close-btn {
    @include styles.setFlex();
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    color: styles.$gray-dark;

    &:hover {
      background-color: #eeeeee;
    }
  }
}

.dialog-body {
  @include styles.setFlex($d: column, $ai: stretch, $jc: flex-start, $gap: 8px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.title {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 26px;

  @include styles.up-xxl {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.15;
  }
}

.description {
  margin-bottom: 4px;

  @include styles.up-xxl {
    margin-bottom: 0px;
  }
}

.subtitle {
  color: #42526e;
}

.due-date {
  @include styles.setFlex($jc: flex-start, $gap: 16px);

  @include styles.up-xxl {
    gap: 24px;
  }
}

.priority {
  @include styles.setFlex($jc: flex-start, $gap: 30px);

  @include styles.up-xxl {
    gap: 42px;
  }

  div {
    @include styles.setFlex($gap: 2px);
  }
}

.assignees {
  @include styles.setFlex($d: column, $ai: flex-start, $gap: 9px);

  @include styles.up-xxl {
    gap: 16px;
  }

  .assignee-list {
    @include styles.setFlex($d: column, $ai: flex-start, $jc: flex-start, $gap: 6px);
    width: 100%;
    max-height: 100px;
    overflow-y: auto;

    @include styles.up-xxl {
      max-height: 120px;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background: styles.$gray-light;
    }
  }
}

.assignee-item {
  @include styles.setFlex($ai: center, $gap: 10px);
  margin-left: 16px;
  padding-right: 8px;

  @include styles.up-xxl {
    gap: 16px;
  }
}

.attachments {
  .gallery {
    @include styles.setFlex($jc: flex-start, $gap: 8px);
    max-width: 100%;
    max-height: 120px;
    margin: 8px 0;
    padding-top: 2px;
    padding-bottom: 8px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background: styles.$gray-light;
    }
  }

  .attachment {
    position: relative;
    width: 112px;
    margin-left: 2px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;

    &:hover {
      .attachment-img {
        filter: grayscale(0.8) brightness(0.5);
      }

      .download-btn {
        opacity: 1;
      }
    }

    &:focus-within {
      border-color: styles.$blue-primary;
    }
  }

  .attachment-btn {
    all: unset;
    display: block;
    width: 100%;
    cursor: pointer;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
  }

  .attachment-img {
    width: 100%;
    height: 58px;
    border-radius: 7px 7px 0 0;
    object-fit: cover;
  }

  .download-btn {
    position: absolute;
    top: 0;
    left: 0;
    @include styles.setFlex();
    width: 34px;
    height: 34px;
    border-radius: 7px 1px 8px 1px;
    background-color: styles.$blue-sky;
    color: white;
    border: none;

    @include styles.up-xxl {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      border-radius: 50%;
      background-color: transparent;
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover {
      background-color: styles.$blue-sky;
    }

    &:focus-visible {
      background-color: styles.$blue-primary;

      @include styles.up-xxl {
        background-color: styles.$blue-sky;
        opacity: 1;
      }
    }
  }

  figcaption {
    width: 112px;
    padding: 2px 4px;
    color: #a8a8a8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
  }
}

.subtasks {
  @include styles.setFlex($d: column, $ai: flex-start, $gap: 8px);
  width: 100%;

  @include styles.up-xxl {
    gap: 10px;
  }

  .subtask-list {
    width: 100%;
    max-height: 110px;
    overflow-y: auto;
    padding-top: 2px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background: styles.$gray-light;
    }

    .checkbox-wrapper {
      @include styles.setFlex($jc: flex-start, $gap: 10px);
      width: fit-content;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 6px;
      cursor: pointer;

      @include styles.up-xxl {
        font-size: 16px;
        gap: 14px;
        margin-bottom: 6px;
      }

      &:hover {
        padding-right: 16px;
        border-radius: 8px;
        background-color: styles.$white-light;
      }

      .checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked + .checkbox-ui {
          background: url(../../../../../public/assets/img/icons/checkboxes/checkbox-checked.svg)
            center / contain no-repeat;
        }

        &:focus-visible + .checkbox-ui {
          outline: 1px solid styles.$blue-primary;
        }
      }

      .checkbox-ui {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        background: url(../../../../../public/assets/img/icons/checkboxes/checkbox.svg) center /
          contain no-repeat;
      }

      &:hover .checkbox-ui {
        background: url(../../../../../public/assets/img/icons/checkboxes/checkbox-hover.svg)
          center / contain no-repeat;
      }

      &:hover .checkbox:checked + .checkbox-ui {
        background: url(../../../../../public/assets/img/icons/checkboxes/checkbox-checked-hover.svg)
          center / contain no-repeat;
      }

      .subtask-title {
        word-break: break-word;
      }
    }
  }
}

footer {
  @include styles.setFlex($jc: flex-end);

  @include styles.up-xxl {
    margin-top: -8px;
  }

  button {
    @include styles.setFlex($gap: 4px);
    background-color: transparent;
    color: styles.$gray-dark;

    @include styles.up-xxl {
      font-size: 16px;
    }

    &:hover {
      color: styles.$blue-sky;
    }
  }

  .separator {
    width: 1px;
    height: 18px;
    margin: 0 2px;
    background-color: #d1d1d1;
  }
}
