@if(task){
  <div class="task-dialog-overlay" (mousedown)="onBackdropClick($event)">
    <div class="dialog-content" role="dialog" aria-labelledby="task-dialog-title" cdkTrapFocus cdkTrapFocusAutoCapture >
      <div class="header">
        <p class="category" [ngClass]="task.category">
          {{ task.category === 'technical-task' ? 'Technical Task' : 'User Story' }}
        </p>
        <button class="close-btn" (click)="closeDialog()" aria-label="Close dialog">
          <img class="icon icon--default" src="assets/img/icons/buttons/close.svg" alt="">
          <img class="icon icon--hover" src="assets/img/icons/buttons/close-hover.svg" alt="">
        </button>
      </div>

      <div class="dialog-body scroll-shadows">
        <div class="topic">
          <h2 class="title" id="task-dialog-title">{{ task.title }}</h2>
          <p class="description">
            {{ task.description }}
          </p>
        </div>
    
        <div class="due-date">
          <p class="subtitle">Due date:</p>
          <p>{{ task.dueDate.toDate() | date:'dd/MM/yyyy' }}</p>
        </div>
    
        <div class="priority">
          <p class="subtitle">Priority:</p>
    
          <div>
            @if (task.priority === "low") {
              <p>Low</p>
              <img class="priority-icon" src="assets/img/icons/priority/priority-low.svg" alt="Low priority">
            } @else if (task.priority === "medium") {
              <p>Medium</p>
              <img class="priority-icon" src="assets/img/icons/priority/priority-medium.svg" alt="Medium priority">
            } @else if (task.priority === "high") {
              <p>High</p>
              <img class="priority-icon" src="assets/img/icons/priority/priority-high.svg" alt="High priority">
            }
          </div>
        </div>
        
        @if (task.assignees.length > 0){
          <div class="assignees">
            <p class="subtitle">Assigned To:</p>
      
            <div class="assignee-list scroll-shadows" tabindex="-1">
              @for (assignee of task.assignees; track $index) {
                <div class="assignee-item">
    
                  <app-avatar
                    [name]="getAssigneeName(assignee)"
                    [color]="getUserColor(assignee)"
                    [avatar]="getAssigneeAvatar(assignee)"
                    [size]="38"
                  ></app-avatar>
    
                  <p class="name">
                    {{ getAssigneeName(assignee) }}
                  </p>
                </div>
              }
            </div>
          </div>
        }
    
        @if (task.attachments.length > 0) {
          <div class="attachments">
            <p class="subtitle">Attachments:</p>
            <div class="gallery">
              @for (attachment of task.attachments; track attachment.fileName) {
                <figure class="attachment" role="button" tabindex="0" (click)="openImageViewer($index)" (keydown.enter)="openImageViewer($index)" (keydown.space)="openImageViewer($index)" aria-label="Open attachment {{ attachment.fileName }}">
                  <div class="image-wrapper">
                    <img class="attachment-img" [src]="attachment.base64" [alt]="attachment.fileName" >
                    <button
                      class="download-btn"
                      type="button"
                      (click)="downloadAttachment($event, attachment)"
                      (keydown.enter)="$event.stopPropagation()"
                      (keydown.space)="$event.stopPropagation()"
                      aria-label="Download {{ attachment.fileName }}"
                    >
                      <img class="download-icon" src="assets/img/icons/add-task/download-white.svg" alt="">
                    </button>
                  </div>
                  <figcaption>{{ attachment.fileName }}</figcaption>
                </figure>
              }
            </div>
          </div>
        }
    
        @if (task.subtasks.length > 0) {
          <div class="subtasks">
            <p class="subtitle">Subtasks:</p>
      
            <div class="subtask-list scroll-shadows">
              @for (subtask of task.subtasks; track $index) {
                <label class="checkbox-wrapper">
                  <input class="checkbox" type="checkbox" [checked]="subtask.done" (change)="toggleSubtask($index)">
                  <span class="checkbox-ui"></span>
                  <span class="subtask-title" id="subtask-{{$index}}">{{ subtask.title }}</span>
                </label>
              }
            </div>
          </div>
        }
      </div>

      <footer>
        <button type="button" (click)="onDeleteClick()">
          <img class="icon icon--default" src="assets/img/icons/buttons/delete.svg" alt="">
          <img class="icon icon--hover" src="assets/img/icons/buttons/delete-hover.svg" alt="">
          Delete
        </button>
        <div class="separator" aria-hidden="true"></div>
        <button type="button" (click)="onEditClick()">
          <img class="icon icon--default" src="assets/img/icons/buttons/edit.svg" alt="">
          <img class="icon icon--hover" src="assets/img/icons/buttons/edit-hover.svg" alt="">
          Edit
        </button>
      </footer>

      <app-confirm-dialog
        [open]="showDeleteConfirm"
        [highlight]="'Delete'"
        [highlightObject]="task.title ? task.title : 'this task'"
        [confirmText]="'Delete'"
        [cancelText]="'Cancel'"
        (confirm)="confirmDelete()"
        (cancel)="cancelDelete()"
      >
      </app-confirm-dialog>

      @if (showViewer) {
        <app-image-viewer
          [attachments]="viewerAttachments"
          [startIndex]="viewerStartIndex"
          (close)="showViewer = false"
        >
        </app-image-viewer>
      }
    </div>
  </div>
}
